.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  background: #f9fbfd;
  color: #011c40;
  padding-top: 10px;
  padding-bottom: 11px;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  background-color: #e3ecf6;
  opacity: 0.8;
}

.button:focus {
  border: none;
  outline: none;
  box-shadow: inset 0 0 4px 2px #011c40;
}

button:active {
  background-color: #e3ecf6;
  opacity: 0.5;
  box-shadow: none;
}
