.contacts {
  display: grid;
  grid-template-columns: 1fr 500px;
  column-gap: 100px;
  padding: 120px 103px 113px;

  @media (max-width: $vp-1365) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 100px 45px;
  }

  @media (max-width: $vp-768) {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 63px 15px 62px;
  }
}

.contacts__wrapper-map {
  @media (max-width: $vp-768) {
    order: 2;
  }
}

.contacts__map-icon {
  width: 100%;
  min-height: 306px;
  border: none;

  @media (max-width: $vp-1365) {
    min-height: 100%;
  }

  @media (max-width: $vp-768) {
    min-height: 316px;
  }
}

.contacts__wrapper-info {
  display: flex;
  flex-direction: column;
  padding-top: 77px;

  p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 36px;
  }

  address {
    position: relative;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 21px;
    padding-left: 28px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 22px;
      content: "";
      background-image: url("../img/svg/marker.svg");
      background-repeat: no-repeat;
    }
  }

  a {
    position: relative;
    font-size: 16px;
    color: #011c40;
    padding-left: 28px;

    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 18px;
      height: 18px;
      content: "";
      background-image: url("../img/svg/phone.svg");
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $vp-1365) {
    padding-top: 70px;
    padding-bottom: 64px;
  }

  @media (max-width: $vp-768) {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 16px;
  }
}
