.contacts {
  display: grid;
  grid-template-columns: 1fr 500px;
  column-gap: 100px;
  padding: 120px 103px;
}

.contacts__map-icon {
  width: 100%;
  min-height: 306px;
  border: none;
}

.contacts__wrapper-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__wrapper-info p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 45px;
}

.contacts__wrapper-info address {
  position: relative;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 33px;
  padding-left: 28px;
}

.contacts__wrapper-info address::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 22px;
  content: "";
  background-image: url("../img/svg/marker.svg");
  background-repeat: no-repeat;
}

.contacts__wrapper-info a {
  position: relative;
  font-size: 16px;
  color: #011c40;
  padding-left: 28px;
}

.contacts__wrapper-info a::before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
}
