.cruises-item {
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  min-height: 386px;
  padding: 30px;
  padding-bottom: 25px;
  align-items: flex-end;
  position: relative;
  background-color: #011c40;

  h3 {
    font-weight: 500;
    font-size: 18px;
    color: #f9fbfd;
    margin: 0;
  }

  &--astoria {
    background: url("../img/astoria.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--astoria {
        background-image: url("../img/astoria@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/astoria-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--astoria {
          background-image: url("../img/astoria-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/astoria-mobile.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--astoria {
          background-image: url("../img/astoria-mobile@2x.jpg");
        }
      }
    }
  }

  &--atlantis {
    background: url("../img/atlantis.webp");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--atlantis {
        background-image: url("../img/atlantis@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/atlantis-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--atlantis {
          background-image: url("../img/atlantis-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/atlantis-mobile.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--atlantis {
          background-image: url("../img/atlantis-mobile@2x.jpg");
        }
      }
    }
  }

  &--odysseus {
    background: url("../img/odysseus.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--odysseus {
        background-image: url("../img/odysseus@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/odysseus-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--odysseus {
          background-image: url("../img/odysseus-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/odysseus-mobile.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--odysseus {
          background-image: url("../img/odysseus-mobile@2x.jpg");
        }
      }
    }
  }

  &--olympia {
    background: url("../img/olympia.webp");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--olympia {
        background-image: url("../img/olympia@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/olympia-tablet.webp");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--olympia {
          background-image: url("../img/olympia-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/olympia-mobile.webp");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--olympia {
          background-image: url("../img/olympia-mobile@2x.jpg");
        }
      }
    }
  }

  &--aurora {
    background: url("../img/aurora.webp");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--aurora {
        background-image: url("../img/aurora@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/aurora-tablet.webp");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--aurora {
          background-image: url("../img/aurora-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/aurora-mobile.webp");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--aurora {
          background-image: url("../img/aurora-mobile@2x.jpg");
        }
      }
    }
  }

  &--leonor {
    background: url("../img/leonor.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--leonor {
        background-image: url("../img/leonor-mobile@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/leonor-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--leonor {
          background-image: url("../img/leonor-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/leonor-mobile.webp");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--leonor {
          background-image: url("../img/leonor-mobile@2x.jpg");
        }
      }
    }
  }

  &--minion {
    background: url("../img/minion-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      &--minion-1 {
        background-image: url("../img/leonor@2x.jpg");
      }
    }

    @media (max-width: $vp-1365) {
      background: url("../img/minion-1-tablet.webp");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--minion-1 {
          background-image: url("../img/leonor-tablet@2x.jpg");
        }
      }
    }

    @media (max-width: $vp-768) {
      background: url("../img/minion-1.webp");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &--minion-1 {
          background-image: url("../img/minion-1@2x.jpg");
        }
      }
    }
  }

  &:hover .cruises-item__wrapper-info {
    display: flex;
    box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  }

  @media (max-width: $vp-1365) {
    min-width: 309px;
    padding-left: 35px;
    padding-bottom: 30px;
  }

  @media (max-width: $vp-768) {
    min-width: 270px;
    padding-left: 25px;
    padding-bottom: 20px;
  }
}

.cruises-item__wrapper-info {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background: #011c40;
  padding: 27px 25px;

  h4 {
    font-weight: 500;
    font-size: 18px;
    color: #f9fbfd;
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.cruises-item__wrapper-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cruises-item__wrapper-item {
  color: #f9fbfd;
  margin-bottom: 10px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 0;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #d8d8d9;
  }
}
