.feature-item {
  position: relative;
  background-color: #f9fbfd;
  padding-left: 30px;
  padding-top: 87px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.feature-item h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.feature-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.feature-item--ship::before {
  content: "";
  height: 32px;
  width: 27px;
  background: url("../img/svg/ship.svg");
  position: absolute;
  top: 13%;
}

.feature-item--arrow::before {
  content: "";
  height: 21px;
  width: 32px;
  background: url("../img/svg/arrow.svg");
  position: absolute;
  top: 15%;
}

.feature-item--boat::before {
  content: "";
  height: 15px;
  width: 42px;
  background: url("../img/svg/boat.svg");
  position: absolute;
  top: 16%;
}
