.form-booking {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: #011c40;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  color: #f9fbfd;
}

.form-booking h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 35px;
}

.form-booking__input {
  padding: 11px 16px;
}
