.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;

  @media (max-width: $vp-768) {
    margin-left: -10px;
  }
}

.social-list__link {
  display: flex;
  padding: 14px;

  @media (max-width: $vp-1365) {
    padding: 11px;
  }
}

.social-list__icon {
  display: flex;

  @media (max-width: $vp-1365) {
    display: none;
  }

  svg {
    align-items: center;
  }
}

.social-list__icon-tablet {
  display: none;

  @media (max-width: $vp-1365) {
    display: flex;
  }

  svg {
    align-items: center;
  }
}
