.travel {
  display: flex;
  padding: 115px 103px;
}

.travel > .travel__wrapper-info {
  margin-right: 88px;
}

.travel__wrapper-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #011c40;
}

.travel__wrapper-info h2 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.travel__wrapper-info p {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
